body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.sidebar {
  background-color: #1c1e22;
  color: white;
  padding: 20px;
  width: 200px;
  height: 100vh;
}

.sidebar h1 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
}

.sidebar .active {
  font-weight: bold;
}

.main-content {
  flex: 1;
  padding: 40px;
}

h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

table th,
table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e91e63;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #f664a5;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  background-color: #fd9fc0;
  color: #ffffff;
  border-radius: 15px;
  font-size: 0.9em;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9em;
}

.status.in-review {
  background-color: #fd9fc0;
  color: #ffffff;
}

.status.draft {
  background-color: #74747444;
  color: #ffffff;
}
